<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.2">
    <meta charset="utf-8">
    <title>Literature Explorer</title>
    <link rel="stylesheet" href="./styles/base.css">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/graph.css">
    <link rel="stylesheet" href="./styles/sidebar.css">
    <link rel="stylesheet" href="./styles/container.css">
</head>

<body>

    <header>
        <div class="">
            <font size="5" color="#ede9da">
                <i><b>Logo</b></i>
                </font>
        </div>
        <div class="container" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <script>
            function myFunction(x) {
              x.classList.toggle("change");
            }
        </script>
    </header>

    <main>
        <section>
            <div id="graph"></div>
        </section>
        <section>
            <div id="sidebar">
                <div id="paper-title"></div>
                <div id="paper-id"></div>
            </div>
        </section>
    </main>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
</body>

</html>