<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Literature Explorer</title>
    <link rel="stylesheet" href="./styles/base.css">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/graph.css">
    <link rel="stylesheet" href="./styles/sidebar.css">
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            Navigation
        </div>
    </header>

    <main>
        <section>
            <div id="graph"></div>
        </section>
        <section>
            <div id="sidebar">
                <div id="paper-title"></div>
                <div id="paper-id"></div>
            </div>
        </section>
    </main>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
</body>

</html>