header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #87A980;
    height: 28px;
    font: 22px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.logo {
    color: #ede9da;
    overflow: hidden;
    float: left;
}