header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 40px;
    background-color: #87A980;
    height: 28px;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}

.logo {
    color: #ede9da;
    float: left;
    width: 100%;
}