#sidebar {
    border: 1px solid lightgray;
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 46px;
    right: 0;
    background-color: #ede9da;
    padding-top: 20px; 
    transition: 0.5s; 
    font: 16px Georgia, serif;
  }
  
.paper-info {
    min-height: 200px;
  }

#paper-title{
    min-height: 50px;
    font: 18px Georgia, serif;

}

#paper-id{
    min-height: 50px;
    font: 16px Georgia, serif;

}